@import "../style-utils/breakpoints";

:root {
  --lime_surface: #eefcf1;
  --lime_surface_dark: rgba(64, 191, 137, 0.15);
  --lime_light: #7ce495;
  --lime_dark: #40bf89;
  --neutral_dark: #212121;
  --neutral_light: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: var(--neutral_dark);

}

h1,
.text-style-headline-1 {
  /* Title/Desktop/Headline 1 */
  font-size: 2.25rem;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 3rem;
  letter-spacing: 0.09375rem;
}

h2,
.text-style-headline-2 {
  /* Desktop/Headline 2 */
  font-size: 1.75rem;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 2.5rem;
  letter-spacing: 0.0625rem;
}

h3,
.text-style-headline-3 {
  /* Desktop/Headline 3 */
  font-size: 1.45rem;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 2rem;
  letter-spacing: 0.0625rem;
}

h4,
.text-style-headline-4 {
  /* Desktop/Headline 4 */
  font-size: 1.5rem;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 4500;
  line-height: 2rem;
  letter-spacing: 0.0625rem;
}

h5,
.text-style-headline-5 {
  /* Desktop/Headline 5 */
  font-size: 1.25rem;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 1.75rem;
  letter-spacing: 0.09375rem;
}

h6,
.text-style-headline-6 {
  /* Desktop/Headline 6 */
  font-size: 1.125rem;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: 0.0625rem;
}

p,
li,
.text-style-body {
  /* Body/Desktop/Body 1 */
  font-size: 1.15rem;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 2.25rem;
  letter-spacing: 0.03125rem;
}

@include until($mobile) {

  h1,
  .text-style-headline-1 {
    /* Mobile/Headline 1 */
    font-size: 1.75rem;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 2.25rem;
    letter-spacing: 0.09375rem;
  }

  h2,
  .text-style-headline-2 {
    /* Mobile/Headline 2 */
    font-size: 1.5rem;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 2rem;
    letter-spacing: 0.0625rem;
  }

  h3,
  .text-style-headline-3 {
    /* Mobile/Headline 3 */
    font-size: 1.375rem;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 1.75rem;
    letter-spacing: 0.0625rem;
  }

  h4,
  .text-style-headline-4 {
    /* Mobile/Headline 4 */
    font-size: 1.25rem;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 1.75rem;
    letter-spacing: 0.0625rem;
  }

  h5,
  .text-style-headline-5 {
    /* Mobile/Headline 5 */
    font-size: 1.125rem;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 1.75rem;
    letter-spacing: 0.0625rem;
  }

  h6,
  .text-style-headline-6 {
    /* Mobile/Headline 6 */
    font-size: 1rem;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: 1.5rem;
    letter-spacing: 0.0625rem;
  }

  p,
  li,
  .text-style-body {
    /* Mobile/Body */
    font-size: 1rem;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: 0.03125rem;
  }
}

.mainContents {
  max-width: 1108px;
  margin: 0 auto;
  padding: 24px;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.mainContents,
.mainContentsOnlyAnim {
  animation: fadeInUp ease 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

hr {
  height: 2px;
  background-color: var(--lime_light);
  border: none;
  margin: 48px 0;
  border-radius: 50%;
}

a {
  color: var(--lime_dark);
}

.mainContentsAboutUs {
  max-width: 920px;
  margin: 0 auto;
  padding: 24px;
}


.badge {
  display: inline-block;
  background-color: var(--lime_surface);
  color: #105624;
  padding: 8px 16px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 16px;
  font-family: Poppins, sans-serif;

  @include from($mobile) {
    font-size: 20px;
  }
}

.team-member {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  align-items: start;
  margin-bottom: 40px;

  img {
    justify-self: start;
  }

  @include from($mobile) {
    grid-template-columns: 120px 1fr;
    gap: 24px;

    img {
      justify-self: start;
    }
  }
}

.team-member p {
  margin: 0;
  color: #333;
  font-size: 1rem;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.03125rem;
  text-align: left;
}

.team-member img {
  width: 120px;
  height: 120px;
  border-radius: 12px;
  background-color: #6BCF7F;
  object-fit: cover;
}

.padding-bottom-32 {
  padding-bottom: 32px;
}