:root {
  --lime_surface: #EEFCF1;
  --lime_surface_dark: rgba(64, 191, 137, 0.15);
  --lime_light: #7CE495;
  --lime_dark: #40BF89;
  --neutral_dark: #212121;
  --neutral_light: #FFFFFF;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  /* Title/Desktop/Headline 1 */
  font-size: 2.5rem;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 3rem;
  letter-spacing: 0.09375rem;
}

h2 {
  /* Desktop/Headline 2 */
  font-size: 2rem;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: 0.0625rem;
}

h3 {
  /* Desktop/Headline 3 */
  font-size: 1.75rem;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 2rem;
  letter-spacing: 0.0625rem;
}

h4 {
  /* Desktop/Headline 4 */
  font-size: 1.5rem;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 2rem;
  letter-spacing: 0.0625rem;
}

h5 {
  /* Desktop/Headline 5 */
  font-size: 1.25rem;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 1.75rem;
  letter-spacing: 0.09375rem;
}

h6 {
  /* Desktop/Headline 6 */
  font-size: 1.125rem;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: 0.0625rem;
}

p, li {
  /* Body/Desktop/Body 1 */
  font-size: 1.5rem;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 2.25rem;
  letter-spacing: 0.03125rem;
}

.mainContents {
  max-width: 1108px;
  margin: 0 auto;
  padding: 24px;
}
