---
import Document from "../layouts/document.astro";
import SEO from "../components/seo/seo.astro";
---

<Document>
  <SEO
    slot="head"
    title="Acerca De"
    description={"Informaci칩n sobre RIP Wallet"}
  />
  <main class="mainContentsAboutUs">
    <h1>游녦 Hola!</h1>
    <p>
      RIP Wallet es una plataforma de eduaci칩n financiera.
    </p>
    <p class="padding-bottom-32">
      Nuestra meta es ense침ar sobre finanzas e inversiones desde un enfoque pr치ctico, 
      realista y personal porque todos tenemos vidas y metas diferentes.
    </p>
    
    
    <h1>Nuestro equipo</h1>
    <span class="badge">Kevin</span>
    <div class="team-member">
      <img src="/images/kevin.jpg" alt="Foto de perfil Kevin">
      <p>Soy Administrador de Negocios con m치s de siete a침os de experiencia en el mundo de las finanzas, y el fundador de RIP Wallet. Me encanta salir a comer, armar legos y compartir con los dem치s.</p>
    </div>

    <span class="badge">Johanna</span>
    <div class="team-member">
      <img src="/images/johanna.jpg" alt="Foto de perfil Johanna">
      <p>Soy project manager desde hace 6 a침os y he trabajado para m칰ltiples transnacionales, tambi칠n era ordenada desordenada y me gusta mucho comprar ropa e ir al gym.</p>
    </div>
    
    <span class="badge">Jostin</span>
    <div class="team-member">
      <img src="/images/jostin.JPG" alt="Foto de perfil Jostin">
      <p>Soy Administrador de Empresas con m치s de 5 a침os de experiencia en proyectos de educaci칩n financiera. Actualmente trabajo con un organismo internacional coordinando procesos de administraci칩n financiera y log칤stica de proyectos y me gustan las motos y salir a comer.</p>
    </div>
  </main>
</Document>
