---
import Document from "../layouts/document.astro";
import SEO from "../components/seo/seo.astro";
import styles from "./asesorias.module.scss";
import Card from "../components/card.astro";
---

<Document title="Poner tus finanzas en orden no tiene que ser aburrido!">
  <SEO
    slot="head"
    title="¿Necesitas un plan? ¡Agenda una asesoría personalizada!"
  />
  <main class={`mainContentsOnlyAnim ${styles.container}`}>
    <div class={styles.innerContainer}>
      <Card
        imageUrl="/images/clipboard_money.jpg"
        title="Asesoría Financiera"
        body="Para tener orden, ahorrar y salir de deudas"
        buttonText="agendar"
        buttonHref="/finanzas"
      />
      <Card
        imageUrl="/images/laptop_money.jpg"
        title="Asesoría de Inversiones"
        body="Para invertir con conocimiento y seguridad"
        buttonText="agendar"
        buttonHref="/inversiones"
      />
      <Card
        class={styles.hiddenDesktop}
        imageUrl="/images/people_money.jpg"
        title="Asesoría financiera en pareja"
        body="Para planear y alcanzar metas en conjunto."
        buttonText="agendar asesoría"
        buttonHref="/parejas"
      />
    </div>
  </main>
</Document>
