---
import Document from "../layouts/document.astro";
---

<Document
  title="¡Ya agendaste tu asesoria!"
  subtitle="Aqui hay algunas instrucciones para completar el proceso..."
  enableRecursos={true}
>
  <main class="paragraph-body paragraph-list">
    <hr class="solid" />
    <h4>#1: Agenda</h4>

    <div>
      Ya hiciste esta parte, pero si necesitas re-agendar, puedes hacerlo usando
      el link en la invitación en tu correo electrónico, o puedes escribirnos
      por WhatsApp al (+506) 7136-9660.
    </div>

    <hr class="solid" />
    <h4>#2: Pago</h4>

    <div>
      El costo de las asesorías es el siguiente:

      <ul class="money-list">
        <li class="money-bullet">
          ₡35,000 o $60 USD - Asesoría Financiera Personal
        </li>
        <li class="money-bullet">
          ₡40,000 o $70 USD - Asesoría Financiera en Pareja
        </li>
        <li class="money-bullet">
          ₡30,000 o $50 USD - Asesoría de Inversiones
        </li>
      </ul>

      <div class="spacer"></div>

      El pago lo puedes realizar por los siguientes medios:

      <ul class="money-list">
        <li class="money-bullet">
          SINPE Móvil: 7123-7888 (Kevin Aguilar Castro)
        </li>
        <li class="money-bullet">
          IBAN (Scotiabank Colones): CR41012300120122906007 - Cédula 116500328
        </li>
        <li class="money-bullet">
          IBAN (Scotiabank Dólares): CR73012300120122906013 - Cédula 116500328
        </li>
        <li class="money-bullet">
          <a href="https://paypal.me/kevinguilar">PayPal</a>
        </li>
      </ul>
    </div>

    <div class="spacer"></div>

    <div>
      Una vez realizado el pago, por favor envía el comprobante al WhatsApp
      (+506) 7136-9660.
    </div>

    <div class="spacer"></div>

    <div>
      ⚠️ Si no realizas el pago en las 48 horas siguientes al momento en el que
      agendas tu reservación podría perderse.
    </div>

    <hr class="solid" />
    <h4>#3: Cuestionario</h4>

    <div>
      Antes de realizar tu plan personalizado necesitamos alguna información
      extra.
    </div>

    <div class="spacer"></div>

    <div>
      Por favor llena el cuestionario según la asesoría que agendaste,
      utilizando el botón que se encuentra abajo.
    </div>

    <div class="spacer"></div>

    <div>
      ⚠️ Si no llenas el formulario al menos 2 días antes de tu sesión es
      probable que necesitemos reagendar.
    </div>

    <div class="spacer"></div>

    <div class="grid-container">
      <div class="grid-item">
        <button
          type="button"
          class="standard-btn"
          onclick=" window.open('https://www.survio.com/survey/d/G1E0E1J4F6M8K2Y2E','_blank')"
        >
          📝 &nbsp Finanzas Personales
        </button>
      </div>

      <div class="grid-item">
        <button
          type="button"
          class="standard-btn"
          onclick=" window.open('https://www.survio.com/survey/d/H6R0M9E9S3D6D6N6O','_blank')"
        >
          📝 &nbsp Finanzas en Pareja
        </button>
      </div>

      <div class="grid-item">
        <button
          type="button"
          class="standard-btn"
          onclick=" window.open('https://www.survio.com/survey/d/H6R0M9E9S3D6D6N6O','_blank')"
          >📝 &nbsp Inversiones</button
        >
      </div>
    </div>

    <hr class="solid" />
    <h4>#4: Conexión</h4>

    <div>
      Cuando llegue el día de tu sesión puedes conectarte por medio de Google
      Meet, el link lo encontrarás en tu calendario.
    </div>

    <div class="spacer"></div>

    <div>Nos vemos! 🥳</div>

    <br />
    <br />
  </main>
</Document>
