---
import Document from "../layouts/document.astro";
---
<Document>
    <main class="paragraph-body paragraph-list">

        <hr class="solid">
        <h4>#1: Agenda</h4>

        <div>
            Ya hiciste esta parte, pero si necesitas re-agendar, puedes hacerlo con al menos 2 días de anticipación
            usando
            el link en la invitación en tu calendario o correo electrónico, o si lo necesitas puedes escribirnos por
            WhatsApp al (+506) 7136-9660.
        </div>

        <hr class="solid">
        <h4>#2: Pago</h4>

        <div>
            El costo de la asesoría es de ₡35,000 o $60 para la asesoría de finanzas personales y ₡30,000 o $50 para la
            asesoría de inversiones.

            <div class="spacer"></div>

            El pago lo puedes realizar por los siguientes medios:

            <ul class="money-list">
                <li class="money-bullet">SINPE Móvil: 7123-7888 (Kevin Aguilar Castro)</li>
                <li class="money-bullet">IBAN (Scotiabank Colones): CR41012300120122906007 - Cédula 116500328</li>
                <li class="money-bullet">IBAN (Scotiabank Dólares): CR73012300120122906013 - Cédula 116500328</li>
                <li class="money-bullet"><a href="https://paypal.me/kevinguilar">PayPal</a></li>
            </ul>

        </div>

        <div class="spacer"></div>

        <div>Una vez realizado el pago, debes enviar el comprobante por mensaje directo en redes sociales o por WhatsApp al (+506) 7136-9660.
        </div>

        <div class="spacer"></div>

        <div>⚠️ Si no realizas el pago en las 48 horas siguientes al momento en el que agendas tu reservación podría perderse.
        </div>

        <hr class="solid">
        <h4>#3: Cuestionario</h4>

        <div>
            Antes de realizar tu plan personalizado necesitamos alguna información extra.
        </div>

        <div class="spacer"></div>

        <div>
            Por favor llena el cuestionario (según la asesoría que agendaste) utilizando el botón que se encuentra abajo
            al menos 2 días antes de tu asesoría.

        </div>

        <div class="spacer"></div>

        <div>
            ⚠️ Si no llenas el formulario antes de este tiempo es probable que necesitemos reagendar.
        </div>

        <div class="spacer"></div>

        <div class="grid-container">
            <div class="grid-item">
                <button type="button" class="standard-btn"
                        onclick=" window.open('https://www.survio.com/survey/d/G1E0E1J4F6M8K2Y2E','_blank')">
                    Cuestionario para Finanzas Personales
                </button>
            </div>

            <div class="grid-item">
                <button type="button" class="standard-btn"
                        onclick=" window.open('https://www.survio.com/survey/d/H6R0M9E9S3D6D6N6O','_blank')">
                    Cuestionario para Inversiones
                </button>
            </div>
        </div>

        <hr class="solid">
        <h4>#4: Conexión</h4>

        <div>
            Una vez llegado el día y la hora de la asesoría puedes conectarte a la reunión por medio de Google Meet.
        </div>

        <div class="spacer"></div>

        <div>
            El link lo encontrarás en tu calendario. Nos vemos! 🥳
        </div>

        <br>
        <br>

    </main>
</Document>

