---
import Document from "../layouts/document.astro";
import SEO from "../components/seo/seo.astro";
import { Button } from "../components/button";
---

<Document>
  <SEO
    slot="head"
    title="Un plan a la medida para organizar tus finanzas!"
    description={"Recibe un plan financiero personalizado y estrategias para organizar tus finanzas, ahorrar y salir de deudas."}
  />
  <main class="mainContents">
    <h2>Un plan a la medida para organizar tus finanzas!</h2>
    <p>
    Esta sesi칩n es perfecta para vos si quieres organizar tus finanzas en una forma simple y que puedas seguir, salir de deudas antes de tiempo, ahorrar para tus metas o ordenar alg칰n desorden con tarjetas de cr칠dito.游댌</p>
    <p>
      Movimos la agenda de esta secci칩n. Si quieres agendar una asesor칤a puedes llenar el formulario de contacto que est치 ac치 abajo 游녢
    </p>
    <br>

    <div class="center-text">
      <Button  href="https://ripwallet.notion.site/151b26e639ea803cb548e6f1d594add9" target="_blank" rel="noopener noreferrer">
        Contacto
      </Button>
    </div>
    
  </main>
</Document>
