---
// import Cal from "@calcom/embed-react";
import Document from "../layouts/document.astro";
import SEO from "../components/seo/seo.astro";
---

<Document>
  <SEO
    slot="head"
    title="Un plan a la medida para organizar tus finanzas!"
    description={"Recibe un plan financiero personalizado y estrategias para organizar tus finanzas, ahorrar y salir de deudas."}
  />
  <main class="mainContents">
    <h2>Un plan a la medida para organizar tus finanzas!</h2>
    <p>
    Esta sesión es perfecta para vos si quieres organizar tus finanzas en una forma simple y que puedas seguir, salir de deudas antes de tiempo, ahorrar para tus metas o ordenar algún desorden con tarjetas de crédito.
    </p>
    <br>

    <!-- <Cal
      client:only="react"
      calLink="jostinhnz/finanzas"
      config={{
        theme: "light",
      }}
    /> -->

    <br>
    <p>
      En esta asesoría te vamos a ayudar a crear un plan financiero a futuro, definir una estrategia para salir de deudas, ordenarte con las tarjetas de crédito y empezar a ahorrar para tus diferentes metas.
    </p>

    <br>
    <p>
    El precio de la asesoría es de ¢50,000 colones, la reservas con ¢10,000 colones en el momento que la agendas y el resto tienes hasta 7 días antes de la sesión para cancelarlo.
    </p>

    <br>

    <p>
    La sesión es virtual, te va a atender un miembro del equipo de RIP Wallet durante 1 hora aproximadamente, y con la sesión vas a recibir un documento con todas las recomendaciones de la asesoría, dos reuniones de seguimiento gratuitas, pasos a seguir y seguimiento por WhatsApp.
    </p>

    <p>
      Para agendar, solo necesitas elegir la fecha que más te sirva, llenar tus
      datos y confirmar!
    </p>
  </main>
</Document>
