---
import Cal from "@calcom/embed-react";
import Document from "../layouts/document.astro";
import SEO from "../components/seo/seo.astro";
---

<Document>
  <SEO
    slot="head"
    title="Un plan a la medida para organizar tus finanzas!"
    description={"Recibe un plan financiero personalizado y estrategias para organizar tus finanzas, ahorrar y salir de deudas."}
  />
  <main class="mainContents">
    <h1>Un plan a la medida para organizar tus finanzas!</h1>
    <p>
      Las asesorías financieras son el mejor espacio para aclarar tus dudas y
      organizar tus finanzas para que salgas de deudas, le saques provecho a las
      tarjetas de crédito, ahorres y proyectes metas a futuro!
    </p>

    <Cal
      client:only="react"
      calLink="ripwallet/finanzas"
      config={{
        theme: "light",
      }}
    />

    <h2>En la asesoría veremos:</h2>
    <ul>
      <li>Un presupuesto de acuerdo a tu realidad financiera y tus gustos</li>
      <li>Un plan estructurado para organizar tus finanzas</li>
      <li>Una estrategia para cancelar tus deudas antes de tiempo</li>
      <li>Una estrategia y un cálculo para que empieces a ahorrar</li>
      <li>Recursos y servicios que te ayuden a organizar tus finanzas</li>
      <li>Recomendaciones sobre tarjetas de crédito (opcional)</li>
      <li>Pasos a seguir puntuales para que organices tu situación</li>
      <li>Un tiempo de preguntas y respuestas</li>
      <li>Una sesión de seguimiento de 30 minutos (gratuita!)</li>
    </ul>
    <p>
      La asesoría tiene una duración aproximada de 90 minutos, un costo de
      ₡35,000 o $60 (solo necesitarás 1 asesoría!) y se realizan de forma
      virtual.
    </p>

    <p>
      Para agendar, solo necesitas elegir la fecha que más te sirva, llenar tus
      datos y confirmar!
    </p>
  </main>
</Document>
