---
import Document from "../layouts/document.astro";
---
<Document>
    <main>
        <div class="grid-container">
            <div class="grid-item">
                <img class="feature-image framed" src="images/people_money.jpg">
                <h3 class="feature-title">Asesorías personalizadas</h3>
                <p class="feature-desc">Sesiones uno-a-uno sobre finanzas o inversiones.</p>
                <a class="standard-btn" href="/asesorias">Agendar
                    asesoria!
                </a>
            </div>

            <div class="grid-item">
                <img class="feature-image framed" src="images/video_nomoney.jpg">
                <h3 class="feature-title">Recursos</h3>
                <p class="feature-desc">Herramientas para ayudarte con tus finanzas.</p>
                <a class="standard-btn" href="/recursos">Visitar</a>
            </div>
        </div>
    </main>
</Document>
