---
import Document from "../layouts/document.astro";
import SEO from "../components/seo/seo.astro";
import styles from "./index.module.scss";
import Card from "../components/card.astro";
---

<Document title="Poner tus finanzas en orden no tiene que ser aburrido!">
  <SEO
    slot="head"
    title="Poner tus finanzas en orden no tiene que ser aburrido!"
  />
  <main class={`mainContentsOnlyAnim ${styles.container}`}>
    <div class={styles.innerContainer}>
      <Card
        imageUrl="/images/people_money.jp g"
        title="Asesorías personalizadas"
        body="Planes a la medida para organizarte o invertir."
        buttonText="agendar asesorías"
        buttonHref="/asesorias"
      />
      <Card
        imageUrl="/images/feature_04.jpg"
        title="Recursos"
        body="Herramientas para ayudarte a empezar."
        buttonText="visitar"
        buttonHref="/recursos"
      />
    </div>
  </main>
</Document>
