---
import Document from "../layouts/document.astro";
import SEO from "../components/seo/seo.astro";
---

<Document title="Poner tus finanzas en orden no tiene que ser aburrido!">
  <SEO slot="head" title="Poner tus finanzas en orden no tiene que ser aburrido!"/>
  <main>
    <div class="grid-container">
      <div class="grid-item">
        <img class="feature-image framed" src="/images/people_money.jpg" />
        <h3 class="feature-title">Asesorías personalizadas</h3>
        <p class="feature-desc">
          Planes a la medida para organizarte o invertir.
        </p>
        <a class="standard-btn" href="/asesorias">Agendar asesoria!</a>
      </div>

      <div class="grid-item">
        <img class="feature-image framed" src="/images/video_nomoney.jpg" />
        <h3 class="feature-title">Recursos</h3>
        <p class="feature-desc">Herramientas para ayudarte a empezar.</p>
        <a class="standard-btn" href="/recursos">Visitar</a>
      </div>
    </div>
  </main>
</Document>
