---
import Cal from "@calcom/embed-react";
import Document from "../layouts/document.astro";
import SEO from "../components/seo/seo.astro";
---

<Document>
  <SEO
    slot="head"
    title="Empieza a invertir de acuerdo a tus metas!"
    description={"Inversiones realistas y rentables con una estrategia personalizada para alcanzar tus metas."}
  />
  <main class="mainContents">
    <h2>Estrategias de inversión diseñadas a la medida!</h2>
    <p>
      En esa asesoría te vamos a ayudar a definir una estrategia de inversiones, calculando rendimientos y proyecciones para que empieces a invertir en entidades seguras, reguladas y con buenos resultados.
    </p>
    <br>
    <Cal
      client:only="react"
      calLink="ripwallet/inversiones"
      config={{
        theme: "light",
      }}
    />
    <br>
    <p>
    Esta sesión es para vos si ya tienes ahorrado un fondo de emergencia, no tienes deudas de consumo y quieres poner tu dinero a invertir para generar mejores rendimientos a mediano o largo plazo.
    </p>
    <p>
      El precio de la asesoría es de ¢50,000 colones, la reservas con ¢10,000 colones en el momento que agendas y el resto tienes hasta 7 días antes de la sesión para cancelarlo
    </p>
    <br>
    <p>
      La sesión es virtual, te va a atender un miembro del equipo de RIP Wallet durante 1 hora aproximadamente, y con la sesión vas a recibir un documento con todas las recomendaciones de la asesoría, dos reuniones de seguimiento gratuitas, pasos a seguir y seguimiento por WhatsApp.
    </p>
    <br>
    <p>
      Para agendar, solo necesitas elegir la fecha que más te sirva, llenar tus
      datos y confirmar!
    </p>
  </main>
</Document>
