---
import Document from "../layouts/document.astro";
import SEO from "../components/seo/seo.astro";
import { Button } from "../components/button";
---

<Document>
  <SEO
    slot="head"
    title="Empieza a invertir de acuerdo a tus metas!"
    description={"Inversiones realistas y rentables con una estrategia personalizada para alcanzar tus metas."}
  />
  <main class="mainContents">
    <h2>Estrategias de inversi칩n dise침adas a la medida!</h2>

    <p>
    Esta sesi칩n es para vos si ya tienes ahorrado un fondo de emergencia, no tienes deudas de consumo y quieres poner tu dinero a invertir para generar mejores rendimientos a mediano o largo plazo.
    </p>

    <p>
      Movimos la agenda de esta secci칩n. Si quieres agendar una asesor칤a puedes llenar el formulario de contacto que est치 ac치 abajo 游녢
    </p>
    <br>

    <div class="center-text">
      <Button  href="https://ripwallet.notion.site/151b26e639ea803cb548e6f1d594add9" target="_blank" rel="noopener noreferrer">
        Contacto
      </Button>
    </div>
    
  </main>
</Document>
