---
import Cal from "@calcom/embed-react";
import Document from "../layouts/document.astro";
import SEO from "../components/seo/seo.astro";
---

<Document>
  <SEO
    slot="head"
    title="Empieza a invertir de acuerdo a tus metas!"
    description={"Inversiones realistas y rentables con una estrategia personalizada para alcanzar tus metas."}
  />
  <main class="mainContents">
    <h1>Estrategias de inversión diseñadas a la medida!</h1>
    <p>
      Ya sea que estés buscando comprar una casa o un auto, planificar tu
      jubilación o diversificar, una asesoría de inversión te ayudará a definir
      una estrategia de inversión que se alinee con tus metas, tolerancia al
      riesgo y el dinero que tengas disponible.
    </p>
    <Cal
      client:only="react"
      calLink="ripwallet/inversiones"
      config={{
        theme: "light",
      }}
    />
    <h2>En la asesoría veremos:</h2>
    <ul>
      <li>Un plan de inversión según tus objetivos</li>
      <li>Estrategias de planificación financiera (opcional)</li>
      <li>
        Recomendaciones de entidades y herramientas de inversión reguladas
      </li>
      <li>Proyecciones numéricas de diferentes modelos de inversión</li>
      <li>Entidades específicas para que empieces a invertir</li>
      <li>Un tiempo de preguntas y respuestas</li>
      <li>Seguimiento continuo por medio de WhatsApp (gratuito!)</li>
    </ul>
    <p>
      La asesoría tiene una duración aproximada de 60 minutos, un costo de
      ₡30,000 o $50 (solo necesitas 1 asesoría para empezar a invertir!) y se
      realizan de forma virtual.
    </p>

    <p>
      Para agendar, solo necesitas elegir la fecha que más te sirva, llenar tus
      datos y confirmar!
    </p>
  </main>
</Document>
