---
import Document from "../layouts/document.astro";
import SEO from "../components/seo/seo.astro";
import { Button } from "../components/button";
---

<Document disableAsesoria={true}>
  <SEO
    slot="head"
    title="Libros Recomendados"
    description="Algunos libros que pueden gustarte"
  />
  <main class="mainContents">
    <h1>Libros recomendados</h1>
    <p>Algunos libros que me han gustado, y que pueden servirte</p>

    <br></br>

 
    <h2>💰 Finanzas</h2>
    <br></br>


    <img
    src="https://www.libreriacapitulos.com/cdn/shop/files/dinero_feliz_libreria_capitulos_costa_rica.jpg?v=1688777782"
    alt="Dinero Feliz"
    width="120" />  


    <h3>Dinero feliz: Filosofía millonaria para una vida plena —  Ken Honda</h3>
    <p>Descubre la filosofía del Millonario Zen y disfruta de una vida plena y feliz.</p>
    
    
    <Button href="https://amzn.to/3vXH0uI" target="_blank">Amazon</Button>


<br></br>
<br></br>
<br></br>

    <img
    src="https://m.media-amazon.com/images/I/81c9SSbG3OL._AC_UF1000,1000_QL80_.jpg"
    alt="Dinero Feliz"
    width="120" />  

    <h3>I Will Teach You to Be Rich: No Guilt. No Excuses. — Ramit Sethi</h3>
    <p>Buy as many lattes as you want. Choose the right accounts and investments so your money grows for you—automatically. Best of all, spend guilt-free on the things you love.</p>
    
    
    <Button href="https://amzn.to/49dCTc9"  target="_blank">Amazon</Button>

<br></br>
<br></br>
<br></br>

    <img
    src="https://m.media-amazon.com/images/I/612IMcz46uL._AC_UF1000,1000_QL80_.jpg"
    alt="Enough"
    width="120" />  

    <h3>Enough: Finding More by Living with Less — Will Davis Jr.</h3>
    <p>The American way of life pushes people to constantly strive for more--more money, more stuff, more clout. But how much is enough? And how do we know when we have too much of a good thing?</p>
    
    
    <Button href="https://amzn.to/3SqrfUx" target="_blank">Amazon</Button>


<br></br>
<br></br>
<br></br>

    <img
    src="https://m.media-amazon.com/images/I/918QPclbyBL._AC_UF1000,1000_QL80_.jpg"
    alt="Enough"
    width="120" />  

    <h3>Giving Is the Good Life: The Unexpected Path to Purpose and Joy — Randy Alcorn</h3>
    <p>Giving Is the Good Life reveals a grander view of God and generosity―one that stretches far beyond our imagination and teaches us what the good life is really all about.</p>
    
    
    <Button href="https://amzn.to/47VY2qx" target="_blank">Amazon</Button>

<br></br>
<br></br>
<br></br>

    <img
    src="https://m.media-amazon.com/images/I/818yj1EnseL._AC_UF1000,1000_QL80_.jpg"
    alt="Enough"
    width="120" />  

    <h3>The Day the World Stops Shopping — J.B. MacKinnon</h3>
    <p>Our private choices are putting the world in peril. The Day the World Stops Shopping is an essential exploration of who we are and what we use, and a vision of a more sustainable world.</p>
    
    
    <Button href="https://amzn.to/47VY2qx" target="_blank">Amazon</Button>


<hr></hr>

    <br></br>
    <br></br>

    <h2>📊 Negocios</h2>
    <br></br>


    <img
    src="https://m.media-amazon.com/images/I/71NBZIExBCL._AC_UF1000,1000_QL80_.jpg"
    alt="Enough"
    width="120" />  

    <h3>Start with Why: How Great Leaders Inspire Everyone to Take Action — Simon Sinek</h3>
    <p>START WITH WHY asks (and answers) the questions: why are some people and organizations more innovative, more influential, and more profitable than others?</p>
    
    
    <Button href="https://amzn.to/3vUnfUM" target="_blank">Amazon</Button>



<hr>

    <br></br>
    <br></br>

    <h2>📝 Crecimiento personal</h2>
    <br></br>


    <img
    src="https://m.media-amazon.com/images/W/MEDIAX_849526-T1/images/I/51tYlG1HAoL._SY445_SX342_.jpg"
    alt="Cover"
    width="120" />  

    <h3>The Subtle Art of Not Giving a F*ck — Mark Manson</h3>
    <p>For decades, we’ve been told that positive thinking is the key to a happy, rich life. "F**k positivity," Mark Manson says.</p>
    
    
    <Button href="https://amzn.to/3vUnfUM" target="_blank">Amazon</Button>

<br></br>
<br></br>
<br></br>

    <img
    src="https://m.media-amazon.com/images/I/71NBZIExBCL._AC_UF1000,1000_QL80_.jpg"
    alt="Enough"
    width="120" />  

    <h3>El sutil arte de que te importe un caraj*: Un enfoque disruptivo para vivir una buena vida — Mark Manson</h3>
    <p>Manson nos recuerda que los seres humanos somos falibles y limitados: "no todos podemos ser extraordinarios: hay ganadores y perdedores en la sociedad, y esto no siempre es justo o es tu culpa"</p>
    
    
    <Button href="https://amzn.to/3OseDv0" target="_blank">Amazon</Button>

<br></br>
<br></br>
<br></br>

    <img
    src="https://m.media-amazon.com/images/W/MEDIAX_849526-T1/images/I/81vEQ9rFgKL._SY522_.jpg"
    alt="Cover"
    width="120" />  

    <h3>So Good They Can't Ignore You — Cal Newport</h3>
    <p>Cal Newport's clearly-written manifesto flies in the face of conventional wisdom by suggesting that it should be a person's talent and skill - and not necessarily their passion - that determines their career path.</p>
    
    
    <Button href="https://amzn.to/3UhIGcH" target="_blank">Amazon</Button>

<br></br>
<br></br>
<br></br>

    <img
    src="https://m.media-amazon.com/images/I/71pqZChaJkL._AC_UF894,1000_QL80_.jpg"
    alt="Cover"
    width="120" />  

    <h3>Deep Work: Rules for Focused Success in a Distracted World — Cal Newport</h3>
    <p>In Deep Work, author and professor Cal Newport flips the narrative on impact in a connected age. Instead of arguing distraction is bad, he instead celebrates the power of its opposite.</p>
    
    
    <Button href="https://amzn.to/3vVM5Ue" target="_blank">Amazon</Button>

    

<hr>


    <br></br>
    <br></br>

    <h2>🎨 Creatividad</h2>
    <br></br>


    <img
    src="https://m.media-amazon.com/images/W/MEDIAX_849526-T1/images/I/71B-fWqkPsL._SY522_.jpg"
    alt="Cover"
    width="120" />  

    <h3>Creativity, Inc.: an inspiring look at how creativity can - and should - be harnessed for business success by the founder of Pixar — Ed Catmull</h3>
    <p>This is a book for managers who want to lead their employees to new heights, a manual for anyone who strives for originality, and the first-ever, all-access trip into the nerve center of Pixar Animation Studios</p>
    
    
    <Button href="https://amzn.to/4bqxpgn" target="_blank">Amazon</Button>

<br></br>
<br></br>
<br></br>

    <img
    src="https://m.media-amazon.com/images/W/MEDIAX_849526-T1/images/I/71AiWmqkN2L._SY522_.jpg"
    alt="Cover"
    width="120" />  

    <h3>Creative Selection: Inside Apple's Design Process During the Golden Age of Steve Jobs — Ken Kocienda</h3>
    <p>An insider's tale of creativity and innovation at Apple, Creative Selection shows readers how a small group of people developed an evolutionary design model, and how they used this methodology to make groundbreaking and intuitive software which countless millions use every day.</p>
    
    
    <Button href="https://amzn.to/3HQqXBr" target="_blank">Amazon</Button>

<hr>


    <br></br>
    <br></br>


    <h2>📚 Otros</h2>
    <br></br>


    <img
    src="https://m.media-amazon.com/images/W/MEDIAX_849526-T1/images/I/51JsmX0uryL._SY445_SX342_.jpg"
    alt="Cover"
    width="120" />  

    <h3>Digital Minimalism: Choosing a Focused Life in a Noisy World— Cal Newport</h3>
    <p>Technology is intrinsically neither good nor bad. The key is using it to support your goals and values, rather than letting it use you. This book shows the way.</p>
    
    
    <Button href="https://amzn.to/3UuRETT" target="_blank">Amazon</Button>

<br></br>
<br></br>
<br></br>

    <img
    src="https://m.media-amazon.com/images/W/MEDIAX_849526-T1/images/I/81hSC+eetvL._SY522_.jpg"
    alt="Cover"
    width="120" />  

    <h3>Ragged: Spiritual Disciplines for the Spiritually Exhausted — Gretchen Ronnevik</h3>
    <p>It often feels like spiritual disciplines are for the privileged few theologians who contemplate God' s word while sitting in their studies. But God doesn' t ask for your performance in exchange for his love.</p>
    
    
    <Button href="https://amzn.to/492SnQO" target="_blank">Amazon</Button>


<br></br>
<br></br>
<br></br>

    <img
    src="https://m.media-amazon.com/images/W/MEDIAX_849526-T1/images/I/71+X0iXavAL._SY522_.jpg"
    alt="Cover"
    width="120" />  

    <h3>Praying for Your Elephant: Boldly Approaching Jesus with Radical and Audacious Prayer — Adam Stadtmiller</h3>
    <p>This is an invitation to identify your elephants—to name, through specific and strategic prayers, the 100 most important and audacious petitions you can imagine. These are the elephants that—if answered by God—would be game changers in your life and perhaps the world.</p>
    
    
    <Button href="https://amzn.to/3vZO9dU" target="_blank">Amazon</Button>


    <ul>
      <li><a href="https://amzn.to/3vXH0uI" target="_blank"> Dinero feliz: Filosofía millonaria para una vida plena</a></li>
      <li><a href="https://amzn.to/49dCTc9" target="_blank"> I Will Teach You to Be Rich: No Guilt. No Excuses.</a></li>
    </ul>

-->




<!-- 

<a href="https://amzn.to/3vXH0uI">Amazon</a> -->

  </main>
</Document>
