---
import Document from "../layouts/document.astro";
import Cal from "@calcom/embed-react";
import SEO from "../components/seo/seo.astro";
---

<Document>
  <SEO
    slot="head"
    title="La mejor forma para crear un plan financiero en pareja!"
    description={"La mejor forma para organizarse y alcanzar metas en conjunto."}
  />
  <main class="mainContents">
    <h2>La mejor forma para organizarse y alcanzar metas en conjunto</h2>

    <p>
      Manejar las finanzas en pareja puede ser (muy) complicado, pero no tiene
      que ser así.
    </p>

    <p>
      Durante una asesoría en pareja creamos un plan financiero que tome en
      cuenta las necesidades, metas y motivaciones de cada uno para poder crear
      un plan financiero que funcione para ambos, y que así estén en la misma
      página con sus finanzas.
    </p>
    <br>
    <Cal
      client:only="react"
      calLink="ripwallet/parejas"
      config={{
        theme: "light",
      }}
    />
    <br>
    <h2>La asesoría incluye:</h2>

    <ul>
      <li>
        Un presupuesto en conjunto que tome en cuenta las necesidades y metas de
        ambos
      </li>
      <li>
        Un presupuesto donde dividan sus gastos esenciales y metas de forma
        porcentual de acuerdo a sus ingresos (opcional)
      </li>
      <li>Un plan financiero estructurado para los próximos años</li>
      <li>Una estrategia para salir de deudas antes de tiempo</li>
      <li>Un análisis de las motivaciones financieras de cada uno</li>
      <li>Una estrategia y un cálculo para que puedan ahorrar</li>
      <li>Recursos y servicios que les ayuden a organizar tus finanzas</li>
      <li>Recomendaciones sobre tarjetas de crédito (opcional)</li>
      <li>Pasos a seguir puntuales para que organicen sus finanzas</li>
      <li>Un tiempo de preguntas y respuestas</li>
      <li>Una sesión de seguimiento de 45 minutos (gratuita!)</li>
    </ul>
    <br>

    <p>
      La asesoría tiene una duración aproximada de 120 minutos, un costo de ₡50,000 o $95
      (solo van a necesitar 1 asesoría!) y se realiza de forma virtual
    </p>

    <p>
      Para agendar, solo necesitan elegir la fecha que más les sirva, llenar sus
      datos y confirmar!
    </p>
  </main>
</Document>
