---
import Document from "../layouts/document.astro";
// import Cal from "@calcom/embed-react";
import SEO from "../components/seo/seo.astro";
import { Button } from "../components/button";
---

<Document>
  <SEO
    slot="head"
    title="La mejor forma para crear un plan financiero en pareja!"
    description={"La mejor forma para organizarse y alcanzar metas en conjunto."}
  />
  <main class="mainContents">
    <h2>La mejor forma para organizarse y alcanzar metas en conjunto</h2>

    <p>
      Manejar las finanzas en pareja puede ser (muy) complicado, pero no tiene
      que ser as칤.
    </p>

    <p>
      En esta asesor칤a les vamos a ayudar a crear un plan financiero en conjunto que tome en cuenta las necesidades, metas y motivaciones de cada uno para que est칠n en la misma p치gina con sus finanzas.
    </p>
    <br>
    <p>
      Movimos la agenda de esta secci칩n. Si quieres agendar una asesor칤a puedes llenar el formulario de contacto que est치 ac치 abajo 游녢
    </p>
    <br>

    <div class="center-text">
      <Button  href="https://ripwallet.notion.site/151b26e639ea803cb548e6f1d594add9" target="_blank" rel="noopener noreferrer">
        Contacto
      </Button>
    </div>
  </main>
</Document>
