---
import Document from "../layouts/document.astro";
import SEO from "../components/seo/seo.astro";
import styles from "./recursos.module.scss";
import Card from "../components/card.astro";
---

<Document title="Poner tus finanzas en orden no tiene que ser aburrido!">
  <SEO slot="head" title="Recursos gratuitos para iniciar de la mejor forma!" />
  <main class={`mainContentsOnlyAnim ${styles.container}`}>
    <div class={styles.innerContainer}>
      <Card
        imageUrl="/images/video_nomoney.jpg"
        title="De 0 a 100 en Finanzas"
        body="Un mini-curso sobre las 4 bases de la libertad financiera."
        buttonText="ver ahora"
        buttonHref="https://www.youtube.com/watch?v=L4aDAHrlGJ0&list=PLjSlnF2nxABMg7N39iZXT6dK9Oggc2zLL"
      />
      <Card
        imageUrl="/images/clipboard_money.jpg"
        title="Plantilla de Presupuesto"
        body="Una plantilla de Excel para que categorices tus gastos."
        buttonText="descargar"
        buttonHref="/downloads/Plantilla Presupuesto RIP Wallet - 2024.xlsx"
      />
    </div>
  </main>
</Document>
