---
import Document from "../layouts/document.astro";
import SEO from "../components/seo/seo.astro";
import { Button } from "../components/button";
---

<Document>
  <SEO
    slot="head"
    title="Reservas"
    description={" "}
  />
  <main class="mainContents">
    <h1>Política de reservas y devoluciones</h1>
    <p>En RIP Wallet los espacios para asesorías son limitados y se reservan con un adelanto de ¢10,000 colones que garantiza tu lugar en la agenda.</p>
    <hr />

    <h2>1. Reserva del espacio 💸</h2>
    <p>El adelanto de ¢10,000 asegura tu espacio para la asesoría.  Este monto no es reembolsable, ya que representa la garantía de un lugar en el calendario que otras personas no pueden tomar una vez reservado. Con la reserva, podés reprogramar hasta 2 veces, avisando con al menos 36 horas de anticipación.</p>
    
    <br>
    
    <hr />
    <h2>2. Pago completo 💸</h2>
    <p>
      El pago completo de la asesoría debe realizarse una semana antes de la sesión. Con el pago completo, podés reprogramar hasta 3 veces como máximo, sujeto a la disponibilidad del asesor. Si no asistís a la cita sin previo aviso, la sesión no se considera realizada, y se te contactará para reprogramarla una única vez. Si no asistieras a esa segunda sesión, el proceso se considerará realizado y el dinero no se reembolsará debido a las 2 faltas sin aviso previo.</p>

    <hr />
    
    <br>

    <h2>3. Reembolsos y excepciones 💸</h2>
    <p>
      En casos de fuerza mayor (como emergencias médicas o situaciones comprobables), se puede evaluar una reprogramación adicional o un crédito para una próxima sesión. Si el pago se realizó por PayPal, cualquier reembolso se hará por el monto neto, descontando las comisiones de la plataforma. Los pagos por transferencia bancaria o SINPE Móvil no generan cargos adicionales. </p>

    <hr />

    <br>

    <h2>4. Cambios y contacto 💸</h2>
    <p> Para reprogramar o informar cualquier cambio, escribí directamente al WhatsApp oficial de RIP Wallet.</p>

    <hr />

  </main>
</Document>
