---
import Document from "../../../layouts/document.astro";
---

<Document title="Spent">
  <main class="mainContents">
    <h2>Spent - Privacy Policy</h2>
    <div>
      <p>
        Thank you for using Spent (the "App"), an application developed by Joseph Murillo ("we," "our," or "us"). This Privacy Policy is intended to inform you about the types of information that may be collected when you use the App and how we safeguard your privacy. By using the App, you agree to the terms of this Privacy Policy.
      </p>
      <p>
        Information Collection and Use
      </p>
      <p>
        Spent is designed to collect no user data whatsoever. We do not collect any personal information, device data, or any other data from users of the App.
      </p>
      <p>
        Permissions
      </p>
      <p>
        The App does not require any permissions to access your device or personal information. We believe in maintaining your privacy and ensuring that your personal data remains secure.
      </p>
      <p>
        Cookies and Tracking Technologies
      </p>
      <p>
        We do not use any cookies, tracking technologies, or similar methods to track your activities on the App.
      </p>
      <p>
        Third-Party Services
      </p>
      <p>
        Spent does not integrate with any third-party services or platforms that would collect user data.
      </p>
      <p>
        Children's Privacy
      </p>
      <p>
        Spent is not intended for use by individuals under the age of 13. We do not knowingly collect any information from children under the age of 13. If you believe that we have inadvertently collected information from a child under the age of 13, please contact us immediately at ripwallet.cr@gmail.com, and we will take steps to delete the information as soon as possible.
      </p>
      <p>
        Data Security
      </p>
      <p>
        We take data security seriously and implement industry-standard security measures to protect any potential data that could be collected. However, since we do not collect any user data, there is no personal or sensitive information to secure.
      </p>
      <p>
        Changes to this Privacy Policy
      </p>
      <p>
        We may update this Privacy Policy from time to time to reflect changes to our practices or for other operational, legal, or regulatory reasons. The most current version of the Privacy Policy will always be available within the App. Any updates to the Privacy Policy will be effective when posted. Your continued use of the App after the effective date of any changes to the Privacy Policy constitutes your acceptance of those changes.
      </p>
      <p>
        Contact Us
      </p>
      <p>
        If you have any questions or concerns about this Privacy Policy or the App's privacy practices, please contact us at ripwallet.cr@gmail.com.
        By downloading and using Spent, you acknowledge that you have read and understood this Privacy Policy and agree to be bound by its terms. Thank you for trusting us with your privacy, and we hope you enjoy using Spent!
      </p>
      <p>
        Joseph Murillo,
        San Jose, Costa Rica
        ripwallet.cr@gmail.com
        +506 7136 9660
      </p>
    </div>
  </main>
</Document>