@import "src/style-utils/breakpoints";

.buttonBase {
  border-radius: 8px;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
  border: unset;
}

.buttonBase:global(.primary) {
  background: var(--lime_dark);
  color: var(--neutral_light);
}

.buttonBase:global(.primary):hover {
  background: var(--lime_light);
  color: var(--neutral_dark);
}

.buttonBase:global(.primary):active {
  background: var(--lime_light);
  color: var(--neutral_light);
}

.buttonBase:global(.primary):focus-within {
  background: var(--lime_light);
  color: var(--neutral_light);
  outline: 4px solid var(--lime_dark);
}

.buttonBase:global(.secondary) {
  background: transparent;
  color: var(--neutral_dark);
}

.buttonBase:global(.secondary):hover {
  background: var(--lime_surface_dark);
  color: var(--lime-dark);
}

.buttonBase:global(.secondary):active {
  background: var(--lime_surface_dark);
  color: var(--neutral_dark);
}

.buttonBase:global(.secondary):focus-within {
  background: var(--lime_surface_dark);
  color: var(--neutral_dark);
  outline: 4px solid var(--neutral_dark);
}

.nonIconButton {
  font-family: Poppins, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: left;
}

@include until($mobile) {
  .nonIconButton {
    padding: 16px;
    font-size: 1rem;
    line-height: 1rem;
  }
}

@include from($mobile) {
  .nonIconButton {
    padding: 16px 24px;
    font-size: 1rem;
    line-height: 1rem;
  }
}

.iconButton {
  padding: 12px 16px;
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1rem;
  letter-spacing: 1px;
  text-align: left;
  display: flex;
  gap: 12px;
}

.iconButtonButton {
  height: 20px;
  width: 20px;
}

.iconOnlyButton {
    padding: 12px 16px;
}

.iconOnlyButton > span {
  display: inline-block;
  height: 30px;
  width: 30px;
}
