<footer>
    <div id="footer-logo">
        <a class="footer-title">RIP Wallet</a>
    </div>

    <div id="footer-social-links">
        <div class="social-icon"><a href="https://www.youtube.com/c/RIPWalletCR" target="_blank"><i
                class="fab fa-youtube"></i></a></div>
        <div class="social-icon"><a href="http://instagram.com/ripwallet.cr/" target="_blank"><i
                class="fab fa-instagram"></i></a></div>
        <div class="social-icon"><a href="https://www.tiktok.com/@ripwallet.cr" target="_blank"><i
                class="fab fa-tiktok"></i></a></div>
        <div class="social-icon"><a href="https://www.facebook.com/ripwallet.cr" target="_blank"><i
                class="fab fa-facebook"></i></a></div>
    </div>

</footer>