---
import styles from "./footer.module.scss";
import Button from "./button.astro";
---

<footer class={styles.footer}>
    <Button>@ripwallet.cr - 2023</Button>
    <div class={styles.spacer}/>
    <Button href="#">Contacto</Button>
    <Button href="#">Acerca De</Button>
</footer>
