---
import styles from "./footer.module.scss";
import {Button} from "./button";
---

<footer class={styles.footer}>
    <Button variant="secondary">@ripwallet.cr - 2023</Button>
    <div class={styles.spacer}/>
    <Button variant="secondary" href="#">Contacto</Button>
    <Button variant="secondary" href="#">Acerca De</Button>
</footer>
