---
const {disableAsesoria, title, subtitle} = Astro.props;
---

<header>
    <div class="logo-type">
        <a class="logo-link" href="/">
            <div id="main-logo">
                <img id="logo-header" src="images/RIP Wallet Logo.png">
            </div>
            <div id="title">
                <h1 class="company-title">RIP Wallet</h1>
            </div>
        </a>
    </div>

    {disableAsesoria && <nav>
        <ul class="nav-list">
            <!-- <li><a class="nav-link" href="recursos">Recursos</a></li>-->
            <li><a class="nav-link buttoned" href="asesorias">Agendar asesoria!</a></li>
        </ul>
    </nav>}
    <h2 class="page-title">{title}</h2>
    <br>
    {subtitle && <h3 class="page-subtitle">{subtitle}</h3>}
</header>
