@import "src/style-utils/breakpoints";

@include from($mobile) {
  .mobileHeader {
    display: none !important;
  }
}

@include until($mobile) {
  .desktopHeader {
    display: none !important;
  }
}

.mobileHeader, .desktopHeader {
  background: var(--lime_surface);
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobileHeader {
  padding: 24px;

  .centerLogo {
    border-radius: 50%;
    height: 72px;
    width: 72px;
  }
}

.desktopHeader {
  padding: 24px 48px;

  .centerLogo {
    border-radius: 50%;
    height: 92px;
    width: 92px;
  }
}

.halfContainers {
  width: 1px;
  flex-grow: 1;
  display: flex;
}

.iconContainer {
  gap: 12px;
}

.spacer {
  width: 1px;
  flex-grow: 1;
}

.linkNav {
  display: flex;
}
