---
import Document from "../../../layouts/document.astro";
---

<Document title="Spent">
  <main class="mainContents">
    <h2>Spent - Política de Privacidad</h2>
    <div>
      <p>
        Gracias por usar Spent (de ahora en adelante la "Aplicación"), una aplicación desarrollada por Joseph Murillo ("nosotros", "nuestro" o "nosotros"). Esta Política de privacidad tiene como objetivo informarle sobre los tipos de información que se pueden recopilar cuando utiliza la aplicación y cómo protegemos su privacidad. Al utilizar la aplicación, acepta los términos de esta Política de privacidad.
      </p>
      <p>
        Recopilación y uso de información
      </p>
      <p>
        Spent está diseñado para recopilar ningún tipo de datos de usuario. No recopilamos ninguna información personal, datos del dispositivo ni ningún otro dato de los usuarios de la aplicación.
      </p>
      <p>
        Permisos
      </p>
      <p>
        La aplicación no requiere ningún permiso para acceder a su dispositivo o información personal. Creemos en mantener su privacidad y garantizar que sus datos personales permanezcan seguros.
      </p>
      <p>
        Cookies y tecnologías de seguimiento
      </p>
      <p>
        No utilizamos cookies, tecnologías de seguimiento o métodos similares para rastrear sus actividades en la aplicación.
      </p>
      <p>
        Servicios de terceros
      </p>
      <p>
        Spent no se integra con ningún servicio o plataforma de terceros que pueda recopilar datos del usuario.
      </p>
      <p>
        Privacidad de los niños
      </p>
      <p>
        Spent no está destinada a personas menores de 13 años. No recopilamos deliberadamente ninguna información de niños menores de 13 años. Si cree que hemos recopilado información de un niño menor de 13 años sin darnos cuenta, comuníquese con nosotros de inmediato a ripwallet.cr@gmail.com, y tomaremos medidas para eliminar la información lo antes posible.
      </p>
      <p>
        Seguridad de datos
      </p>
      <p>
        Nos tomamos muy en serio la seguridad de los datos e implementamos medidas de seguridad estándar de la industria para proteger cualquier dato potencial que pueda recopilarse. Sin embargo, dado que no recopilamos ningún dato del usuario, no hay información personal o confidencial que proteger.
      </p>
      <p>
        Cambios a esta Política de Privacidad
      </p>
      <p>
        Podemos actualizar esta Política de privacidad de vez en cuando para reflejar cambios en nuestras prácticas o por otras razones operativas, legales o reglamentarias. La versión más actual de la Política de Privacidad siempre estará disponible dentro de la Aplicación. Cualquier actualización de la Política de privacidad entrará en vigencia cuando se publique. Su uso continuado de la Aplicación después de la fecha de vigencia de cualquier cambio en la Política de privacidad constituye su aceptación de dichos cambios.
      </p>
      <p>
        Contáctenos
      </p>
      <p>
        Si tiene alguna pregunta o inquietud sobre esta Política de privacidad o las prácticas de privacidad de la aplicación, comuníquese con nosotros a ripwallet.cr@gmail.com.
        Al descargar y utilizar Spent, usted reconoce que ha leído y entendido esta Política de privacidad y acepta estar sujeto a sus términos. ¡Gracias por confiarnos su privacidad y esperamos que disfrute usando Spent!
      </p>
      <p>
        Joseph Murillo,
        San Jose, Costa Rica
        ripwallet.cr@gmail.com
        +506 7136 9660
      </p>
    </div>
  </main>
</Document>