---
interface Props {
  title: string;
  description?: string;
}
import "../styles/global.css";

const { title, description = "Inspirando personas a mejorar sus finanzas" } =
  Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description} />

    <link rel="icon" href="/favicon.ico" />
    <script src="https://unpkg.com/lucide@latest" defer></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <slot />
    <script>
      declare global {
        var lucide: any;
      }
      window.addEventListener('load', () => {
        if (window.lucide) {
          lucide.createIcons();
        }
      });
    </script>
  </body>
</html>
